* {
    box-sizing: border-box;
}

nav {
    background-color: #999999 !important;
    border: 1px solid #000000;
}

.navbar-brand {
    font-weight: bold;
    padding-left: 50px;
}

.data {
    background-color: #999999;
    padding: 8px;
}